.form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
}

.label {
  margin-bottom: 10px;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  width: -moz-available;
}

.input,
.select, .option {
  padding: 8px;
  margin-top: 5px;
}
.exp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
}
.exp .select {
  width: 200px;
}


